# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

*.DS_Store

# Hunter
_builds
_builds/
_builds/**

NativePlugins/_builds
NativePlugins/_builds/
NativePlugins/_builds/**

_logs
_logs/
_logs/**

NativePlugins/_logs
NativePlugins/_logs/
NativePlugins/_logs/**

_install
_install/
_install/**

NativePlugins/_logs
NativePlugins/_logs/
NativePlugins/_logs/**

NativePlugins/external/nanomsg
NativePlugins/external/nanomsg/
NativePlugins/external/nanomsg/**

NativePlugins/external/nng
NativePlugins/external/nng/
NativePlugins/external/nng/**

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# CMake temp build directories
Toolkits/CMake/hunter/_builds
Toolkits/CMake/hunter/_builds/
Toolkits/CMake/hunter/_builds/**

*/_builds
*/*/_builds
*/*/*/_builds
*/*/*/*/_builds

_testing

# EP_BASE (install, download, build, ...)
_Base

# macosx
.DS_Store
*/.DS_Store
*/*/.DS_Store

# emacs junk
*.*~
*~

# Clion
.idea/

# CMake++
Toolkits/CMake/CMakepp/tmp
Toolkits/CMake/CMakepp/*/tmp
Toolkits/CMake/CMakepp/tmp/
Toolkits/CMake/CMakepp/tmp/**

# Golang
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

vendor
vendor/
vendor/**



