# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

*.DS_Store

# Hunter
_builds
_builds/
_builds/**

NativePlugins/_builds
NativePlugins/_builds/
NativePlugins/_builds/**

_logs
_logs/
_logs/**

NativePlugins/_logs
NativePlugins/_logs/
NativePlugins/_logs/**

_install
_install/
_install/**

NativePlugins/_logs
NativePlugins/_logs/
NativePlugins/_logs/**
